body { font-family: "Futura", sans-serif; }
div.sheet { clear: both; page-break-after: always; width: 8in; padding-top: .325in; }
div.badgeback { float: left; width: 3.5in; height: 3.125in; position: relative; padding: 0.25in 0.25in 0; }
div.badgeback.left { padding-left: 0; padding-right: 0.5in }
div.badgeback.right { padding-left: 0.5in; padding-right: 0 }
div.badge { float: left; width: 3.5in; height: 2.225in; position: relative; padding: 1.15in 0.25in 0; }
div.badge.left { padding-left: 0; padding-right: 0.5in }
div.badge.right { padding-left: 0.5in; padding-right: 0 }
.logo { padding-left: 0.875in; padding-top: 0.212in; }
.peoplename { padding-top: 0.375in; font-size: 42pt; line-height: 1.15em; }
.peopleothername { font-size: 30pt; line-height: 1.15em; }
.peoplereducedname { font-size: 20pt; }
.peopleshortestname { font-size: 14pt; }
.cityname { font-size: 12pt; position: absolute; top: 2.3in; }
.peopleschedule { font-size: 14pt; }
.peopleshrunkschedule { font-size: 10pt; }
.special { color: red; font-size: 30pt; }
.back { font-family: "Helvetica"; }