<style type='text/css'>
.categoryroom { FONT-WEIGHT: bold; FONT-SIZE: 10pt }
.timename { FONT-WEIGHT: bold; FONT-SIZE: 10pt }
.dayname { FONT-WEIGHT: bold; FONT-SIZE: 15pt; color: #0033cc;} 
.panelname { FONT-WEIGHT: bold; FONT-SIZE: 12pt } 
.roomname { FONT-WEIGHT: bold; FONT-SIZE: 12pt } 
.hashtag { FONT-SIZE: 10pt } 
.paneldescribe { FONT-SIZE: 10pt } 
.panelists { FONT-SIZE: 10pt; FONT-STYLE: italic } 
.bookorder { FONT-WEIGHT: bold; FONT-SIZE: 10pt } 
.panelid { FONT-SIZE: 10pt } 
.gridbookorder { FONT-SIZE: 10pt } 
.gridtitle { FONT-SIZE: 10pt } 
.gridpanelid { FONT-SIZE: 10pt } 
.peoplebio { FONT-SIZE: 10pt } 
.peoplename { FONT-WEIGHT: bold;  FONT-SIZE: 12pt } 
.peopleurl { FONT-SIZE: 10pt } 
.peopleschedule { FONT-SIZE: 8pt } 
.lastnote { FONT-SIZE: 8pt } 
.daytimestring { FONT-WEIGHT: bold; FONT-SIZE: 10pt; color: #0033cc; } 
p { margin-top: 2px; margin-bottom: 2px; }
</style> 
