.name, .address {
  float: left;
  padding: 10px;
  background-color: #eeeeee;
  min-height: 175px;
  min-width: 400px;
  margin-bottom: 10px;
}
.name {
  margin-right: 10px;
}
.name div, .address div {
  margin: 10px 0px;
}
.form-body {
  padding: 10px;
  background-color: #eeeeee;
}
.clear-both {
  clear: both;
}
