	.title-box { border: 6px ridge; float: left; margin-left: 70px; margin-top: 15px; margin-bottom: 40px; }
	.title-box-head { font-size: 120%; font-weight: bold; padding: 8px 12px; background: #888; border-bottom: 3px ridge;}
	.title-box-error { text-align: center; color: red; }
	.title-box-content { background: white; padding: 4px 8px; }
	
	.lvalue-row { padding: 4px 0px; }
	.lvalue-left { float: left; width: 70px; margin-right: 5px; text-align: right; padding-top: 4px; }
	.lvalue-right { margin-left: 75px; }
