body {
margin:0;
}
#wiscon-header {
        text-indent: -960px;
        background: black url(http://wiscon-juliana.piglet.org/images/W39banner.jpg) no-repeat top left;
        height: 100px;
    width: 100%;
   
}

#wiscon-sidebar {
	width: 220px;
	position: absolute;
	padding-top: 4px;
	
}

#wiscon-body {
	width: 710px;
	position: relative;
	margin-left: 240px; 
	padding-top: 20px;
}

.sidenav {
	background-color: #000000;
	padding: 10px;
	min-height: 280px;

}

.sidenav li a {
	color: #ffffff; 
	display: block; 
	padding: 3px 5px;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
}
.sidenav ol, 
.sidenav ul { 
	list-style: none; 
	margin: 0; 
	padding: 0px 0px 0px 0px;
}
.sidenav ul li {
	margin-left: 0px; 
}

.sidenav ul li.current a {
	background-color: #1e2bdf;
	background-image: url(/images/icons/chevron-right-white.png);
	background-position: right;
	background-repeat: no-repeat;
}

.sidenav ul li a:hover {
	background-color: #1e2bdf;
}

.sidenav a.nav-group {
	display: block;
	font-size: 120%;
	border: 1px solid #F3C129;
	margin: 6px 0px 2px;
	padding: 2px 4px;
	color: #ffffff;
	background-color: #000000;
}

.sidenav a.nav-group:hover {
	background-color: #1e2bdf;
	background-image: url(/images/icons/chevron-down-white.png);
	background-position: right;
	background-repeat: no-repeat;
}

.sidenav a.nav-group.open:hover {
	background-image: url(/images/icons/chevron-up-white.png);
}

.sidenav li ul { display: none; }

.sidenav li ul li a { display: block; }

.truncatedText { height:1.2em; }

.contentbody h1 { font-size: 1.5em; }

.contentbody h2 { font-size: 1.25em; }

.contentbody p, ul, ol, li {font-size: 1em !important; }

.data-error { FONT-WEIGHT: bold; text-align: center; color: red; }

.app_info { FONT-WEIGHT: bold; text-align: center; }




