/*
 * General css Selectors
 */

.popup {
	position: absolute;
	left: 100px;
	border-style: solid;
	border-width: 2px;
	padding: 5px;
	z-index: 5;
	background: #fff;
	display: none;
	width: 150px;
	text-align: none;
}

.hide {
	display: none;
}

.info {
	display: none;
	margin-bottom: 5px;
}

input {
	margin: 3px 0px 3px 0px;
}

/*
 * Title and Content Container Selectors
 */

div.title {
	font-family: Trebuchet, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
}

div.scheduleBorder {
	border: 1px #B3B3B3 solid;
}

div#createEventForm {
	padding: 10px;
}

textarea#description {
	width: 70%;
}

div.scheduleContent {
	background: white;
	padding: 0px 8px 8px;
	border: 1px solid #ccc;
}

/* 
 * Schedule Menu Selectors
 */

div.menuBox {
	background: #eee;
	padding: 4px 8px;
	border: 1px solid #ccc;
	font-size: 12px;
	z-index: 25;
}

div.scheduleMenu {
	font-size: 12px;
	width: 100%;
	/*float: left;*/
}

form.menuForm {
	margin: 0;
	padding: 0px;
	display: inline;
}

div#menu_first_line {
	padding-bottom: 10px;
}

#printButton {
	float: right;
}

/* Time Bar Styles */

.timebar_toparea { padding: 8px 0px; }
.timebar_topname { font-weight: bold; font-size: 120%; }
.timebar_subarea { margin-bottom: 4px; }

/*.timebar_subname {
	float: left;
	padding-top: <% ( 12 * $label_lines + 4 - 14 ) / 2 %>px;
	white-space: nowrap;
	overflow: hidden;
	<% ( $group_by eq 'day-room' ) ? 'font-size: 14px;' : 'font-size: 16px;' %>
}*/

.timebar_rowset {
	background: #f7f7f7;
	border-top: 1px solid #999;
}
	
.timebar_scalemark {
	font-size: 10px;
	color: #666;
	border-left: 1px solid #ccc;
	margin-right: -1px;
	/*float: left;*/
	overflow: hidden;
	white-space: nowrap;
	width: 10.65%;
}

.timebar_scalemark div { padding: 3px 2px 0px 4px; }
.timebar_scale_top .timebar_scalemark div { padding: 0px 2px 3px 4px; }

.timebar_slot_selected {
	margin: -2px -2px;
	border: 3px solid #333;
	background: #ffc;
	padding: 1px 0px; 
	z-index: 2;
}

.timebarColorbox {
	display: inline;
	height: 12px;
	width: 12px;
	border: 1px solid #666;
	font-size: 10px;
	margin-right: 4px;
}

.timebarItem {
	/*float: left;*/
	white-space: nowrap;
	margin-right: 6px;
	border-width: 2px;
	border-color: #fff;
	padding: 2px 4px;
	border-style: outset;
	background: #fff;
	cursor: pointer;
}

button.timebarSelected { 
	border-width: 2px;
	border-style: inset;
	background: #E5E4E2;
}

.timebar_slot_type_1  { background: #f9A; } /* Party      */
.timebar_slot_type_2  { background: #6f9; } /* Reading    */
.timebar_slot_type_3  { background: #7CE; } /* Program    */
.timebar_slot_type_4  { background: #ffc; } /* Private    */
.timebar_slot_type_5  { background: #ec5; } /* Event      */
.timebar_slot_type_6  { background: #fcf; } /* Other      */
.timebar_slot_type_7  { background: #baf; } /* Academic   */
.timebar_slot_type_8  { background: #cf9; } /* Continuing */
.timebar_slot_type_9  { background: #be6; } /* Workshop   */
.timebar_slot_type_10 { background: #ee6; } /* Gathering  */
.timebar_slot_type_11 { background: #9fc; } /* Kids       */
.timebar_slot_type_12 { background: #aef; } /* Gaming     */

/* List Styles */

div.listDay {
	padding-top: 12px;
	/*font-weight: bold;*/
	font-size: 120%;
}

div.listTime {
	border-top: 1px solid #ccc;
	margin-top: 4px;
	padding-top: 4px;
	/*margin-bottom: -14px;*/
	white-space: nowrap;
}

div.timeSlot {
	white-space: normal;
}

span.listLocation {
	float: left;
	width: 125px;
	white-space: nowrap;
}

div.listItem {
	display: block;
	margin-left: 150px;
}

div.listSlot {
	margin-left: 130px;
	padding-bottom: 3px;
}

.choose_display {
	cursor: pointer;
}

.revealer {
	cursor: pointer;
}

.descRevealer {
	cursor: pointer;
}

.arrowPic {
	display: none;
	z-index: 6;
	position: absolute;
}

.descBox {
	/*position: absolute;*/
	left: 100px;
	border-style: solid;
	background: #fff;
	z-index: 5;
	padding: 5px 5px 5px 5px;
	display: none;
	width: 400px;
	border-width: 3px;
}
