/**********************************************************************/

/* clearfix */
.clearfix:after { 
	content: " "; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
  font-size: 0;
}

.clearfix { 
	display: inline-block; 
}

/* Commented backslash hack hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End commented backslash hack */

body {
	font-family: 'Lato', sans-serif;
	margin:0;
}

/**********************************************************************/
/*** Basic WisCon page layout, with header, sidebar, body, and footer ***/

/* header changes annually */
/* WisCon 40 colors 
	 dark blue #005187
	 lighter blue #2f7cbf
*/

#wiscon-header {
				background-color: #005187;
				color: #fff;
				width: 100%; 
}
#wiscon-header h1 {
	text-align: center;
	width: 100%;
	margin: 0px;
}
#wiscon-header img {
	display: block; 
	margin:0 auto;
}
#wiscon-content {
	position: relative;
	font-family: 'Lato', sans-serif;
}

#wiscon-sidebar {
	width: 220px;
	position: absolute;
	padding-top: 4px;
	
}

#wiscon-body {
	width: 710px;
	position: relative;
	margin-left: 240px; 
	padding-top: 20px;
}

#wiscon-footer {
	border-top: 2px solid black;
	padding-top: 4px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
}


/*This is the class for the table containing the body content*/

.contentbody {
	margin-left: 150px;
	padding-top: 2em;
	color: #000000;
	background-color: #ffffff;
	position: relative;
  top:0;
  width: 500px
 }

.contentbody p, ul, ol, li {font-size: 1em !important; }


.contentbody h1 { font-size: 1.5em; }

.contentbody h2 { font-size: 1.33em; }

.contentbody h3 { font-size: 1.25em;
	
}
.contentbody h4 { font-size: 1.2em;
	
}
.contentbody h5 {
	font-family: 'Lato', sans-serif;
	font-size: 9px;
}

.contentbody p, ul, ol, li {font-size: 1em !important; }

.contentbody td {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}
.contentbody th {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}   
.contentbody div{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}  
.contentbody div-1a {
 float:right;
 width:130px;
 top:0
 z-index:-1
}

div.imgFloat { 
float:left;
			position:relative; 
			padding:0 .8em .8em .8em;  
			font-style:italic;
			width:max-width 19em;
}

.footer {
    width: 850px; 
    margin-left: 150px;  
    text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
 }
.index {
	list-style-type: none;
}






/* side nav - simplified to only deal with application links (other than home)
/* side nav colors change annually */
/* Wiscon 40 blue is #005187 */

.sidenav {
	background-color: white;
	color: #005187;
	padding: 10px;
	min-height: 280px;

}
/* Top Level Links */

.sidenav  li.subhead{
	background-color: white;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
}

.sidenav li a { 
	display: block; 
	color: #005187;
	padding: 3px 5px;
	text-decoration: none;
	font-size: 90%;
}

.sidenav ol, 
.sidenav ul { 
	list-style: none; 
	margin: 0; 
	padding: 0px 0px 0px 0px;
}
.sidenav ul li {
	margin-left: 0px; 
}

.sidenav ul li.current a {
	background-color: #2f7cbf;
	color: white;
	background-position: right;
	background-repeat: no-repeat;
}

.sidenav ul li a:hover {
	background-color: #2f7cbf;
	color: white;
}

.sidenav a.nav-group {
	display: block;
	border: 1px solid #005187;
	margin: 6px 0px 2px;
	padding: 2px 4px;
	color: #000000;
	background-color: #ffffff;
}

.sidenav a.nav-group:hover {
	background-color: #1e2bdf;
	background-image: url(/images/icons/chevron-down-white.png);
	background-position: right;
	background-repeat: no-repeat;
}

.sidenav a.nav-group.open:hover {
	background-image: url(/images/icons/chevron-up-white.png);
}

.sidenav li ul { display: none; }

.sidenav li ul li a { display: block; }

/**********************************************************************/
/* */

form.devel-view-form {
	border: 1px solid #333;
	padding: 4px 8px;
	background: #eee;
}

form .field-fullwidth {
	width: 100%;
}

/**********************************************************************/
/* */

table {border:style 5; border-collapse:collapse}

table.lined {
	border: 1px solid #ccc;
}

table.lined .pagination th { 
	background: #f7ffe7; 
	border-bottom: 1px solid #666;
}

table.lined .group td {
	background: #EDE4D5; font-weight: bold; padding: 2px 4px
}

table.lined .pagination th { font-weight: normal; text-align: center; }

table.lined {
  border-collapse: collapse; /* for Explorer 5 */
} 
table.lined th { 
  padding: 3px 4px 1px;
  vertical-align: top;
  text-align: left; 
  background-color: #eee; 
  color: #333;
  font-size: 12px;
} 
table.lined .head th { 
  border-bottom: solid 1px #666;
  vertical-align: bottom;
}

table.lined .foot th,
table.lined .foot td { 
  border-top: solid 1px #666;
  background-color: #eee; 
}

table.lined td { 
  padding: 1px 4px;
  vertical-align: top;
  border-bottom: solid 1px #ddd;
}
table.lined .noline td { 
  border-bottom: 0px;
}
table.lined tr {
  background-color: #f7fff7;
}
table.lined tr.odd {
  background-color: #f7fff7;
}
table.lined tr.even {
  background-color: #fAfAff;
}
table.lined tr.null {
  background-color: #f8f0f0;
}
table.lined tr.even th , table.lined tr.odd th, table.lined tr.null th {
  border-bottom: none;
  border-right: solid 1px #666;
  min-width: 80px;
}
table.lined tr.clickable:hover,
table.lined td.clickable:hover {
  background-color: #FEB;
}

table.lined tr.head th {
        background: #E9CD97;
} /*am i in the right place? */

/**********************************************************************/

/* Content menus as toolbar */
/* Colors with also change from year to year */
/* Wiscon 40 blue is #005187 */
	.toolbar_area {
		margin-top: -12px;
		padding: 4px; border: 1px solid #666; background: #005187;
		color: #3BB9FF;
		font-weight: bold;
		font-size: 12px;
	}
	.toolbar_area a {
		color: white;
		text-decoration: none;
	}


/* program item forms */
.appStandard{background-color:#eee;margin:0;padding:0;font-family: 'Lato', sans-serif;font-size:12px;}
.appLabel{margin:2px;padding:0;font-family:Trebuchet, Arial, sans-serif;font-size:10px; font-weight: bold;color:#333;}
.appButton{margin:3px;}
.appRegionHeader{background-color:#55558E;color:#FFF;font-size:14px;} /*change annually */
.appRegionHeader a {color: white;}
.appRegionHeader th {padding: 4px 6px;}
.appRegionTitle{text-align:left;padding:2px;}
.appRegionButtons{text-align:right;padding:2px;}
.appRegionBody {padding:5px;background-color:#eee;font-size:12px;font-family:Trebuchet, Arial, sans-serif;}
.appFormRegion {border:1px #aaa solid;margin:10px 0;}
.appFormRegion  .appRegionBody{background-color:#eee;padding:5px;font-size:12px;font-family:Trebuchet, Arial, sans-serif;}

/* tables */

table.appStandard td, 
table.appStandard th { padding: 6px }
table.appWithBorder th, 
table.appWithBorder td { border: 1px solid black }
table.appPlain { border: 0px; }
table.appPlain th, 
table.appPlain td { padding: 4px; border: 1px solid #ccc; border-left: 0px; border-right: 0px }
table.appPlain th { background:#eee; color:#333;font-size:85%;text-align:left }

thead.AppRegionHeader{background-color:#7b9cbd;color:#FFF;font-size:14px;}

/* show/hide text */

.truncatedText { height:1.2em; overflow:hidden }

.truncatedText p { margin-top:0 }

.truncatedMore { display:none; padding-left:4px }

.truncatedText .truncatedMore { display:block; float:right }

.truncatedLess { display:block; float:right; padding-left:4px }

.truncatedText .truncatedLess { display:none }

/* use ordered lists for 3-column layouts */

ul.header, ul.col {
list-style: none;
margin: 0;
padding: 0;
}

ul.header:first-line {
text-align: center;
font-weight: bold;
}

ul.col {
border-top: 1px solid gray;
}

ul.col li {
display: table-cell;
width: 250px; 
}

IMG.bitty{
	position: relative;
	margin-right: 10px;
	top: 0;
	left: 0;
	border: none;
	float: left;
}	
		
.bgblack{ 
    background-color: #000000;
	}
	
hr{
	color : Black;
	
}

.indented
   {
   padding-left: 50pt;
   padding-right: 50pt;
   }
.categoryroom { FONT-WEIGHT: bold; FONT-SIZE: 10pt }
.timename { FONT-WEIGHT: bold; FONT-SIZE: 10pt }
.dayname { FONT-WEIGHT: bold; FONT-SIZE: 15pt; color: #0033cc;} 
.panelname { FONT-WEIGHT: bold; FONT-SIZE: 12pt } 
.roomname { FONT-WEIGHT: bold; FONT-SIZE: 12pt } 
.paneldescribe { FONT-SIZE: 10pt } 
.panelists { FONT-SIZE: 10pt; FONT-STYLE: italic } 
.bookorder { FONT-WEIGHT: bold; FONT-SIZE: 10pt } 
.panelid { FONT-SIZE: 10pt } 
.gridbookorder { FONT-SIZE: 10pt } 
.gridtitle { FONT-SIZE: 10pt } 
.gridpanelid { FONT-SIZE: 10pt } 
.peoplebio { FONT-SIZE: 10pt } 
.peoplename { FONT-WEIGHT: bold;  FONT-SIZE: 12pt } 
.peopleurl { FONT-SIZE: 10pt } 
.peopleschedule { FONT-SIZE: 8pt } 
.lastnote { FONT-SIZE: 8pt } 
.daytimestring { FONT-WEIGHT: bold; FONT-SIZE: 10pt; color: #0033cc; } 


